@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

.App {
  text-align: left;
  font-family: Karla;
  color: #00f;
  cursor: crosshair;
}

.Title {
  margin-left: 2vw;
  color: #222;
  width: 10vw;
}

.Title:hover {
	margin-top: 10vh;
}

.Item  {
  width: 30em;
  height: auto;
  font-size: 16px;
}

.ItemDetails {
  font-size: 1em;
  position: relative;
  left: 0vw;
  top: 0;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-weight: 700;
}

.ItemDetails:hover {
  left: 30vw;
  color: #222;
}


.Research {
 /*border: 1px solid red;*/
	cursor: pointer;

}
.Project{
  /*border: 1px solid yellow;*/
	cursor: pointer;

}
.Instagram {
  	background-color: #ccc;
	cursor: pointer;
}
.Soundcloud {
  	background-color: #ccc;
	cursor: pointer;
}

.ProjectItem {
  /*margin-top: 5vh;*/
  /*margin-left: 2vw;*/
}
.ProjectItemDetails {
  font-size: 1em;
  position: relative;
  left: 30vw;
  top: 0;
  margin-bottom: 2vh;
  font-weight: 700;
}
.ProjectItemDetails:hover {
  left: 0vw;
}
.HomeData, .ProjectData {
	position: absolute;
	top: 10em;
	margin-left: 2vw;
}

.HomeDataIsVisible {
	visibility: visible;
}
.HomeDataIsHidden {
	visibility: hidden;
}

.ProjectDataIsVisible {
	visibility: visible;
}
.ProjectDataIsHidden {
	visibility: hidden;
}

.ButtonIsVisible {
	visibility: visible;	
	position: fixed;
	left: 80vw;
	cursor: pointer;
}
.ButtonIsVisible:hover {
	left: 81vw;
	font-weight: 700;
}
.ButtonIsHidden {
	visibility: hidden;
}

img {
  /*width: 30em;	*/
}