@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

.App {
  text-align: left;
  font-family: Karla;
  color: #00f;
  cursor: crosshair;
}

.Title {
  margin-left: 2vw;
  color: #222;
  width: 11vw;
  display: block;
  position: fixed;
  line-height: 10vh;
  vertical-align: middle;
  font-size: 1.8em;
  font-weight: 700;
  z-index: 100;
  background-color: #fff;
}

.Title:hover {
	margin-top: 5vh;
}

.ButtonIsVisible {
	visibility: visible;	
	position: fixed;
	left: 80vw;
	cursor: pointer;
	display: block;
    line-height: 10vh;
    vertical-align: middle;
}
.ButtonIsVisible:hover {
	left: 81vw;
	font-weight: 700;
}
.ButtonIsHidden {
	visibility: hidden;
}


.Item  {
  height: auto;
  font-size: 16px;
}

.ItemDetails {
  font-size: 1em;
  position: relative;
  left: 0vw;
  top: 0;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-weight: 700;
  top: -10vh;
}

.ItemDetails:hover {
  left: 2vw;
  color: #222;
}

.Project{
	left: 4vw;
	cursor: pointer;
    position: relative;
    z-index: 2;
	width: 60vw;
}

.Project > img {
	width: 60vw;
}
.Research {
	left: 60vw;
	cursor: pointer;
    position: relative;
    z-index: 1;
}

.Instagram {
	left: 10vw;
	cursor: pointer;
    position: relative;
    z-index: 0;
}
.Instagram > img {
    width: 20em;

}
.Soundcloud {
	cursor: pointer;
    position: relative;
	left: 70vw;
    z-index: -1;
    width: 20vw;
}

.Soundcloud > img {
	visibility: hidden
}

.ProjectItem {
  /*margin-top: 5vh;*/
  /*margin-left: 2vw;*/
  margin-left: 30vw;
  position: relative;
  display: block;
}


.ProjectItemDetails {
  font-size: 1em;
  position: relative;
  left: 0vw;
  top: 0;
  margin-bottom: 2vh;
  font-weight: 700;
  width: 20em;
}

.Doc {
  margin-bottom: 2vh;
}

.HomeData, .ProjectData {
	position: absolute;
	top: 10em;
	margin-left: 2vw;
	margin-bottom: 5vh;
}

.HomeDataIsVisible {
	visibility: visible;
}
.HomeDataIsHidden {
	visibility: hidden;
}

.ProjectDataIsVisible {
	visibility: visible;
}
.ProjectDataIsHidden {
	visibility: hidden;
}

.Footer {
	display: block;
	font-size: 0.9em;
	position: relative;
	top: 105vh;
	width: 20vw;
    left: 85vw;
    visibility: hidden;
}

.Footer > a{
	color: #00f;
}