@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

body {
  cursor: url(cursor.png), auto;
}

.App {
  text-align: left;
  font-family: Karla;
  color: #00f;
  cursor: url(cursor.png), auto;
  overflow-x: hidden;
}

.TestIsHidden {
	visibility: hidden;
}

.TestIsVisible {
	visibility: visible;
}
/* -----------------------------------------Title*/

.Title {
  left: 2vw;
  color: #222;
  display: block;
  position: fixed;
  line-height: 10vh;
  vertical-align: middle;
  font-size: 10em;
  font-weight: 700;
  z-index: 100;
  text-transform: uppercase;
  top: 2vh;
}
.Title:hover {
	opacity: 0;
}

/* -----------------------------------------Button*/
.ButtonIsVisible {
	visibility: visible;	
	position: fixed;
	left: 80vw;
	cursor: url(cursor_hover.png), auto;
	display: block;
    line-height: 10vh;
    vertical-align: middle;
}
.ButtonIsVisible:hover {
	font-weight: 700;
}
.ButtonIsHidden {
	visibility: hidden;
}

/* -----------------------------------------Home page*/

.Item  {
  height: auto;
  font-size: 1em;
  line-height: 2em;
}

.ItemDetails, .ItemType {
  font-size: 1em;
  position: relative;
  left: 0.5vw;
  top: 0;
  margin-bottom: 2vh;
  margin-top: 1vh;
  font-weight: 400;
  line-height: 1.1em;
}

.ItemType {
	font-weight: 700;
 	margin-bottom: 0vh;
}

.ItemDetailsIsHidden {
	visibility: hidden;
}

.ItemTypeIsHidden {
	visibility: hidden;
}
/* -----------------------------------------Anxiety*/

.ImagesAnxiety {
  animation: moveAround 0.2s ease-in-out infinite;
}

.ImagesNoAnxiety {
  animation: none;
}

@keyframes toggleOpacity {
  20% { opacity: 1; } /* Turn off */
  20.001% { opacity: 0.2;}
  54.999% { opacity: 0.2;} /* Turn back on */
  55% { opacity: 1; }
}

@keyframes moveAround {
  20.001% { margin-left: 0.25vw;}
  54.999% { margin-left: 0.25vw;} /* Turn back on */
}

/* --------------------Specific types of home items*/

.Project{
	cursor: url(cursor_hover.png), auto;
  position: relative;
	width: 60vw;
	margin: 0 auto;
	margin-bottom: 2vh;
}

.Project > img {
  box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.95);
	/*width: 60vw;*/
}
.Research {
	left: 40vw;
	cursor: url(cursor_hover.png), auto;
    position: relative;
	width: 40vw;
	margin: 0 auto;
	margin-bottom: 2vh;

}

.Research  > img {
  	box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.95);
	width: 40vw;
}

.Instagram {
	cursor: url(cursor_hover.png), auto;
    position: relative;
    width: 20em;
	margin: 0 auto;
	left: 7vw;

}
.Instagram > img {
  	box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.95);
    width: 20em;
}
.Soundcloud {
	cursor: url(cursor_hover.png), auto;
    position: relative;
	left: 38vw;
    width: 20vw;
	margin: 0 auto;
}

.Soundcloud > .player {
  	box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.95);
    width: 20vw;
}

.Soundcloud > iframe {
	cursor: url(cursor_hover.png), auto;

}

/* -----------------------------------------Project Page*/

.ProjectItem {
  /*margin-top: 5vh;*/
  /*margin-left: 2vw;*/
  margin: 0 auto;
  position: relative;
  display: block;
  margin-bottom: 10vh;
  left: 20vw;
}

.ProjectItem > img {
  width: 50vw;
  box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.95);
}

.ProjectItemDetails {
  font-size: 1em;
  position: relative;
  left: 0vw;
  top: 0;
  margin-bottom: 2vh;
  font-weight: 700;
  margin-top: 1vh;
  width: 20em;
}

.ProjectItemDetails-Caption {
	font-weight: 400;
}

.Doc {
  margin-bottom: 10vh;
  box-shadow: 3px 3px 11px 0px rgba(50, 50, 50, 0.95);

}

.Doc > iframe {
	height: 80vh;
	cursor: url(cursor_hover.png), auto;
}

::-webkit-scrollbar {
	display: none;
}

/* -----------------------------------------Visibility tricks*/

.HomeData, .ProjectData {
	position: absolute;
	top: 10em;
	margin-left: 2vw;
	margin-bottom: 5vh;
}

.HomeDataIsVisible {
	visibility: visible;
}
.HomeDataIsHidden {
	visibility: hidden;
}

.ProjectDataIsVisible {
	visibility: visible;
}
.ProjectDataIsHidden {
	visibility: hidden;
}
/* -----------------------------------------Footer*/

.Footer {
	display: block;
	font-size: 0.9em;
	position: relative;
	top: 105vh;
	width: 20vw;
    left: 85vw;
    visibility: hidden;
}

.Footer > a{
	color: #00f;
}